<tr>
  <td>Name
    <td>
      <input type="text" name="Person[name]">
      <br/>
      <tr>
        <td>Age
          <td>
            <input type="text" name="Person[age]">
            <tr>
              <td>
                <td>
                  <input type="submit" value="ADD">
                  </form>

