<tr>
  <td>Name
    <td>
      <input type="text" name="Person[name]" value="<%=model.name %>">
      <br/>
      <tr>
        <td>Age
          <td>
            <input type="text" name="Person[age]" value="<%=model.age %>">
            <tr>
              <td>
                <td>
                  <input type="submit" value="SAVE">
                  </form>
                  </code>
